<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="WebApp_ID" version="3.0">
        
	<display-name>Simple Student Web App</display-name>
	<servlet>	
		<servlet-name>show students</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.ViewAllStudentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>show students</servlet-name>
			<url-pattern>/allStudents</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add student controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add student controller</servlet-name>
		<url-pattern>/addStudent</url-pattern>
	</servlet-mapping>
	<servlet>	
		<servlet-name>update student controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>update student controller</servlet-name>
			<url-pattern>/updateStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>student page controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.LoadStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student page controller</servlet-name>
		<url-pattern>/studentPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete student</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete student</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>edit grades controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.EditGradesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edit grades controller</servlet-name>
		<url-pattern>/gradesPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>teacher page controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.LoadTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>teacher page controller</servlet-name>
		<url-pattern>/teacherPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add teacher controller</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.AddTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add teacher controller</servlet-name>
		<url-pattern>/addTeacher</url-pattern>
	</servlet-mapping>
	<servlet>	
		<servlet-name>show teachers</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.ViewAllTeachersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>show teachers</servlet-name>
			<url-pattern>/viewTeachers</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete teacher</servlet-name>
		<servlet-class>com.hibernateWeb.Servlet.DeleteTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete teacher</servlet-name>
		<url-pattern>/deleteTeacher</url-pattern>
	</servlet-mapping>
</web-app>
